p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	text-align: center;
	color: #82B1FF;
}

button:hover{
	width:30%;
	background-color: #F50057;
	border-color: #F50057; 
}

button{
	width:30%;
	background-color: #1A237E;
	border-color: #1A237E; 
}

a{
	color: #90CAF9;
}


.display-3{
	font-size: 4rem;
	font-weight: 300;
	text-align: center;	 
	color: #E3F2FD;
}

.flex-container{
	padding: 0;
	margin: 0;
	border: 0;

	width: 100%;
	height: 50vh;
}

.flex-item{

	padding-left: 30px;
	padding-right: 30px;

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	text-align: center;
}

.form-group{
	font-weight: 300;
	text-align: left;
}


.signin:active{
	background-color: #F50057;
	border-color: #F50057; 
}

.errorDetect{
	font-style: italic;
	font-weight: 300;
	font-size: 1rem;
	text-align: justify;

	color: #E3F2FD;
}
