<div class="flex-container">
	
	<div class="flex-item">
		<h1 class="display-3"> Sign In </h1>
		<br>

		<form id="needs-validation">
			<div class="form-group">
			    <label for="InputEmail">Email address</label>
			    <input type="email" id="username" name="username" [(ngModel)]="username" class="form-control" aria-describedby="emailHelp" placeholder="someone@something.com" required="required"/>
			    
  				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			    <div class="invalid-feedback">Please provide a valid email.</div>
		  	</div>
		  	<div class="form-group">
			    <label for="InputPassword">Password</label>
			    <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required="required"/>
			    <div class="invalid-feedback">Please provide a valid password.</div>
		  	</div>
		  	<br>
		  	<p class="errorDetect">{{errorDetl}}</p>
		  	<button type="button" id="signin" class="btn btn-primary" (click)='validateSignIn()' >Sign In</button>

		</form>
		
		<p><a routerLink="/forgotpassword" routerLinkActive="active">Forgot Password?</a></p>

	</div>
</div>
