<div id="message" class="alert alert-success" role="alert">
  <strong>{{action}}</strong> {{details}}
</div>

<div class="flex-parent">
	<form>
	<!-- Sign Up Form Starts Here -->	
		
		<div class="flex-container">
			
			<div class="flex-item">

				<!-- Flex Item -->
			    <h2>Update Project Status</h2>
			    <br>

			    <div class="form-group">
				    <label for="projectid">Project Id</label>
				    <input type="text" id="projectid" name="projectid" [(ngModel)]="projectid" class="form-control csp" placeholder="Project Handle" disabled="true">
				</div>
				<div class="form-group">
				    <label for="pstatus">Project Status</label>
				    <input type="text" id="pstatus" name="pstatus" [(ngModel)]="pstatus" class="form-control csp" placeholder="Project status" >
				</div>
				<div class="form-group">
				    <label for="pecntCompletion">Project Completion</label>
				    <input type="text" id="pecntCompletion" name="pecntCompletion" [(ngModel)]="pecntCompletion" class="form-control csp" placeholder="Percent Completion" >
				</div>
			<!-- Flex Item -->

				<br>
				<button type="button" class="btn btn-primary" (click)='validateSignUp()' > Update Project Status </button>
			</div>
		</div>
	<!-- Sign Up Form Ends Here -->
	</form>
</div>