<nav class="navbar fixed-top justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../../assets/bluebox_logo.png" width="30" height="30" class="d-inline-block align-top" alt="bluebox-logo">
    <font color="indigo"><strong>BlueBox</strong></font> Project Management Systems
  </a>

  <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Log In</a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">We need to verify your presence</h1>
    <br>
    <p class="lead">Three easy steps! Inform Us. We send you a verification link via your registered email. Visit the link and update your forgotten password. And Done!</p>
  </div>
</div>
<div class="flex-parent">
	<h4> Please enter your registered email</h4>
	<br>

  <form id="needs-validation">
      <div class="form-group">
          <input type="email" id="username" name="username" [(ngModel)]="username" class="form-control" aria-describedby="emailHelp" placeholder="someone@something.com" required="required"/>
          
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div class="invalid-feedback">Please provide a valid email.</div>
      </div>
      <p class="errorDetect">{{errorDetl}}</p>
      <br>
      <button type="button" id="signin" class="btn btn-primary" (click)='verifyUser()' >Verify User</button>

    </form>



</div>





