<div class="flex-container">
    
	<div class="flex-item">
	  <img src="../../assets/bluebox_logo.png" width="150" height="150" class="d-inline-block align-top" alt="bluebox-logo">
	  <br><br>	
	  <h1 class="display-3">Welcome To BlueBox</h1>
	  <h1>Deliver Winning Projects.</h1>
	  <hr class="my-4">
	  <p>BlueBox Integrated services help you to keep track of all your needs not only as a Project Lead but also as a Developer or a Designer, by keeping your work organized making life simpler.</p>
	</div>

	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
	</p>

</div>
