<nav class="navbar fixed-top justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../../assets/bluebox_logo.png" width="30" height="30" class="d-inline-block align-top" alt="bluebox-logo">
    <font color="indigo"><strong>BlueBox</strong></font> Project Management Systems
  </a>

</nav>
<div class="main">
	<h1 class="display-3"> ;( Well this is quite embarrasing! </h1>
	<p> Seems like you have visited a broken link or expired link! </p>
	<br><br><br>
	<p class="lead">
		<a class="btn btn-primary btn-lg" routerLink="/" routerLinkActive="active" role="button">Take me to Home!</a>
	</p>

</div>