<nav class="navbar fixed-top justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../../assets/bluebox_logo.png" width="30" height="30" class="d-inline-block align-top" alt="bluebox-logo">
    <font color="indigo"><strong>BlueBox</strong></font> Project Management Systems
  </a>

  <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Log In</a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Join BlueBox Now!</h1>
    <br>
    <p class="lead">BlueBox Integrated Services makes you work faster, smarter and easier. Register now to enjoy minimum-workload at your workplace. Above-all its free!</p>
  </div>
</div>
<router-outlet></router-outlet>



