<div class="hamburger-parent">
<div class="welcome-note">
<img src="../../assets/bluebox_logo.png" width="80" height="80" class="d-inline-block align-top" alt="bluebox-logo">
<p><strong> Welcome to Bluebox Management Console </strong></p>
</div>
<div class="navigation">
	<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">description</i> Projects</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/myprojects" routerLinkActive="active">View Projects</a>
	  			</li>
	  			
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">people</i> Teams</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/myteams" routerLinkActive="active">View Teams</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/myteamrequests" routerLinkActive="active">Manage Team Requests</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">event_available</i> To-Dos</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/mytodos" routerLinkActive="active">View Todos</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/createtodo" routerLinkActive="active">Create New Todo</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/pendingtodos" routerLinkActive="active">Respond to pending Todos</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link"><i class="material-icons">bug_report</i> Bug Reporting</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/bugs" routerLinkActive="active">View Bug Reports</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/newbugreport" routerLinkActive="active">Create New Bug Alert</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/dashboard/bugsolved" routerLinkActive="active">Respond to pending Bugs</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="/dashboard/newsfeeds" routerLinkActive="active"><i class="material-icons">notifications</i> Notifications</a>
	  	</li>
	</ul>
</div>





</div>