<nav class="navbar fixed-top justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../../assets/bluebox_logo.png" width="30" height="30" class="d-inline-block align-top" alt="bluebox-logo">
    <font color="indigo"><strong>BlueBox</strong></font> Project Management Systems
  </a>
</nav>
<div class="main">
	<p><strong id="old"></strong></p>

	<div class="progress">
	  <div id="loading-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ></div>
	</div>
	<br>
	<p class="lead">
		<a id="but" class="btn btn-primary btn-lg" (click)="redirect()" role="button">Lets Onboard!</a>
	</p>
</div>