<div class="team-view">
	<div class="header"><h1 class="display-3">My Teams</h1></div>

<p id="message" class="mess"> You do not have not joined any team! </p>
	<div id="cardss" class="card-orient">
		<ul class="team">
			<li *ngFor="let item of testarr"> 


				<div class="card" style="width: 45rem;">
				  <img class="card-img-top" src="../../../assets/card-background.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h4 class="card-title">Team Details</h4>
				    <p class="card-text">You will find all your team details, project handle and date of joining!</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><strong>Team Handle: </strong>{{item.teamId}}</li>
				    <li class="list-group-item"><strong>Project Handle: </strong>{{item.projectId}}</li>
				    <li class="list-group-item"><strong>Joined Since: </strong>{{item.joiningDate}}</li>
				    <li class="list-group-item">
				    	<button type="button" class="btn btn-primary btn-lg" (click)="settingRequest(item)">Add Team Members</button>
				    	<button type="button" class="btn btn-primary btn-lg" (click)="updateRequest(item)">Quit Team</button>
				    </li>
				  </ul>
				</div>

				<br><br>



			</li>
		</ul>
	</div>

</div>