<nav class="navbar fixed-top justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../../assets/bluebox_logo.png" width="30" height="30" class="d-inline-block align-top" alt="bluebox-logo">
    <font color="indigo"><strong>BlueBox</strong></font> Project Management Systems
  </a>

  <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Log In</a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Well we verified your presence!</h1>
    <br>
    <p class="lead">Use a strong password which is Alpha-numeric and has special characters in itself!</p>
  </div>
</div>
<div class="flex-parent">
	<h4> Please enter your New Password</h4>
	<br>

  <form id="needs-validation">
      <div class="form-group">
          <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" aria-describedby="emailHelp" placeholder="Password" required="required"/>
          
          <div class="invalid-feedback">Please provide a valid password.</div>
      </div>
      <br>
      <div class="form-group">
          <input type="password" id="cpassword" name="cpassword" [(ngModel)]="cpassword" class="form-control" aria-describedby="emailHelp" placeholder="Confirm Password" required="required"/>
          <div class="invalid-feedback">Please provide a valid email.</div>
      </div>
      <p class="errorDetect">{{errorDetl}}</p>
      <br>
      <p style="padding-left: 450px;">
      	<re-captcha (resolved)="resolved($event)" siteKey="6Lc_LzUUAAAAAJaPaGSXt3-_u9nhBYP0t9kx0C3_"></re-captcha>
      </p>
      <button type="button" id="signin" class="btn btn-primary hidebutt" (click)='verifyUser()'>Update Password</button>



    </form>



</div>