<div class="hamburger-parent">
<div class="welcome-note">
<img src="../../assets/bluebox_logo.png" width="80" height="80" class="d-inline-block align-top" alt="bluebox-logo">

<p><strong> Welcome to Bluebox Management Console </strong></p>
</div>
<div class="navigation">
	<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link">Projects</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" href="#">View Projects</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" href="#">New Project</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link">Teams</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/myteams" routerLinkActive="active">View Teams</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/createteam" routerLinkActive="active">Create New Team</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/cpanel/myteamrequests" routerLinkActive="active">Manage Team Requests</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link">To-Dos</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" href="#">View Todos</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" href="#">Create New Todo</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" href="#">Respond to pending Todos</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link">Bug Reporting</a>
	    	<ul>
	    		<li class="nav-item">
	    			<a class="nav-link" href="#">View Bug Reports</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" href="#">Create New Bug Alert</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" href="#">Respond to pending Bugs</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" href="#">Close Bug Report</a>
	  			</li>
	  		</ul>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="/cpanel/newsfeeds" routerLinkActive="active">Notifications</a>
	  	</li>
	</ul>
</div>





</div>