<div class="flex-parent">
	<form>
	<!-- Sign Up Form Starts Here -->	
		
		<div class="flex-container">
			
			<div class="flex-item">

				<!-- Flex Item -->
			    <h2>User Account Details</h2>
			    <br>

				<div class="form-group">
					<label for="InputEmail">Email address</label>
				    <input type="email" id="username" name="username" [(ngModel)]="username" class="form-control csp" aria-describedby="emailHelp" placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
			    <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control csp" placeholder="Password" >
				</div>
				<div class="form-group">
				    <label for="confirm">Confirm Password</label>
				    <input type="password" id="cpassword" name="confirm" [(ngModel)]="confirm" class="form-control csp" placeholder="Confirm Password" >
				</div>
			    
			    <br>
			    <br>

			    <h2>Commercial Details</h2>
			    <br>

			    <div class="form-group">
				    <label for="InputEmail">User Id</label>
				    <input type="text" id="userid" name="userid" [(ngModel)]="userid" class="form-control csp" aria-describedby="useridHelp" placeholder="User Id">
				    <small id="useridHelp" class="form-text text-muted">Please enter your Employee ID or Customer ID.</small>
				</div>
				<div class="form-group">
				    <label for="usertype">Service</label>
				    <input type="text" id="usertype" name="usertype" [(ngModel)]="usertype" class="form-control csp" placeholder="User Type(Project Manager, Frontend Developer, etc)">
				</div>
				<div class="form-group">
				    <label for="department">Department</label>
				    <input type="text" id="department" name="department" [(ngModel)]="department" class="form-control csp" placeholder="Department">
				</div>
				<div class="form-group">    
				    <label for="company">Company</label>
				    <input type="text" id="company" name="company" [(ngModel)]="company" class="form-control csp" placeholder="Company Name">
				</div>
			</div>
			<!-- Flex Item -->
			<div class="flex-item">
				<h2>Personal Details</h2>
				<br>

				<div class="form-group">
					<label for="firstName">First Name</label>
				    <input type="text" id="firstname" name="firstname" [(ngModel)]="firstname" class="form-control csp" placeholder="First Name">
				</div>
				<div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="text" id="lastname" name="lastname" [(ngModel)]="lastname" class="form-control csp" placeholder="Last Name">
				</div>
				<div class="form-group">
				    <label for="dob">Date Of Birth</label>
				    <input type="text" id="dob" name="dob" [(ngModel)]="dob" class="form-control csp" placeholder="Please enter date in this format YYYY-MM-DDTHH:MM:SS.SSSSZ">
				</div>
				<div class="form-group">
				    <label for="phone">Phone Number</label>
				    <input type="text" id="phone" name="phone" [(ngModel)]="phone" class="form-control csp" placeholder="Phone Number">
				</div>
				<div class="form-group">
				    <label for="address">Address Line 1</label>
				    <input type="text" id="address" name="address" [(ngModel)]="address" class="form-control csp" placeholder="Address Line 1">
				</div>
				<div class="form-group">    
				    <label for="city">City</label>
				    <input type="text" id="city" name="city" [(ngModel)]="city" class="form-control csp" placeholder="City">
				</div>
				<div class="form-group">
				    <label for="state">State</label>
				    <input type="text" id="state" name="state" [(ngModel)]="state" class="form-control csp" placeholder="State">
				</div>
				<div class="form-group">
				    <label for="country">Country</label>
				    <input type="text" id="country" name="country" [(ngModel)]="country" class="form-control csp" placeholder="Country">
				</div>
				<div class="form-group">
					<label for="zip">PIN/ZIP Code</label>
				    <input type="text" id="zip" name="zip" [(ngModel)]="zip" class="form-control csp" placeholder="PIN/ZIP Code">
				</div>	  
			</div>
			<!-- Flex Item -->
			

		</div>
		<br>
		<div class="form-check was-validated">
    		<label class="form-check-label custom-control custom-checkbox">
      		<input type="checkbox" id="chek" class="form-check-input custom-control-input" required> 
      		<span class="custom-control-indicator"></span>
    		<span class="custom-control-description">I have read the all the <a class="terms" href="#">terms and conditions</a> carefully, as stated by your company and will abide by them.</span>     		
    		</label>
  		</div>
		<br>
		<p class="errorDetect">{{action}}</p>
      	<br>
      	<p style="padding-left: 450px;">
      		<re-captcha (resolved)="resolved($event)" siteKey="6Lc_LzUUAAAAAJaPaGSXt3-_u9nhBYP0t9kx0C3_"></re-captcha>
      	</p>
      	<br>
		<button type="button" id="signup" class="btn btn-primary hidebutt" (click)='validateSignUp()' >Sign Up</button>

	<!-- Sign Up Form Ends Here -->
	</form>
</div>